/* for index.html and order.html */

/* General */
.light_border {
    border: 1px solid lightgray;
    border-radius: 5px;
}
.dark_border {
    border: 1px groove gray;
    border-radius: 5px;
}

/* Header */
#header {
    width: 100%;
    text-align: center;
}
#header > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1%;
}
#header_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

#welcome {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.25em;
}

/* Footer */
footer {
    clear: both;
    width: 100%;
    text-align: center;
}
