/* for order.html */

/* Double column */
#menu {
    float: left;
    width: 77%;
    padding: 3px 0;
    text-align: center;
}
#order_table {
    float: right;
    width: 22%;
    margin-bottom: 2%; /* because order_table height is fixed */
}
h2, h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Menu */
#menu > h4 {
    display: inline;
}
.menu_label {
    width: 33.33%;
    box-sizing: border-box;
    /* calculate border as part of width so it won't overflow
    also makes the align with form easier */
    display: inline;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    float: left;
    padding: 3px 0;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.15s ease;
}
/* .menu_label:hover {
    background-color: white;
} */
.menu_tab {
    display: none;
}
.menu_tab > form {
    display: inline;
    width: 33.33%;
    text-align: left;
    float: left;
    padding: 1% 0;
    /* will cause space between menu_tab and form - cannot use margin */
    /* border: 1px double red; */
}
form img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1%;
    /* margin-left: 1%; */
}
form input {
    width: 40%;
    display: block; /* Let button on a new line */
}

/* Menu - Tickets */
/* #ticket:hover ~ #ticket_tab,
#ticket_tab:hover {
    display: inline-block;
    box-sizing: border-box;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;
} */

/* Menu - Dinings */
/* #dining:hover ~ #dining_tab,
#dining_tab:hover {
    display: inline-block;
    box-sizing: border-box;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;
} */

/* Menu - Hotels */
/* #hotel:hover ~ #hotel_tab,
#hotel_tab:hover {
    display: inline-block;
    box-sizing: border-box;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;
} */

/* Table */
table {
    width: 100%;
}
#order_table > h2, h2 + h4, caption {
    text-align: center;
}
th, td {
    background-color: lightgray;
}
.description {
    width: 70%;
    text-align: left;
}
.quantity {
    width: 30%;
    text-align: right;
}
.even > td {
    background-color: white;
}
thead th, tfoot td {
    background-color: lightblue;
}

/* Table - Undo */
#undo {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}
#undo:visited {
    color: black;
}
#undo:hover {
    cursor: pointer;
}
